<template name="cocheraAdmin">
  <span class="text"><b>{{cocheraName}}</b></span>
  <span class="text">Ocupante</span>
  <select class="set-holder" id="setHolder" >
    {{#each userList}}
      <option value={{username}} {{selectedHolder2 holderName}}> {{username}}</option>
    {{/each}}
    <option value="" {{selectedHolder holderName}}> - </option>
  </select>
  <select class="set-status" id="setStatus" >
    <option value=0 {{selectedStatus 0}}> Libre </option>
    <option value=1 {{selectedStatus 1}}> Reservada </option>
    <option value=2 {{selectedStatus 2}}> Ocupada </option>
  </select>
</template>
