<template name="report01">
  <div class="page report-show">
    <nav class="js-title-nav">
      {{#momentum plugin="fade"}}
        <div class="nav-group">
          <a href="#" class="js-menu nav-item">
            <span
            class="icon-list-unordered"
            title={{_ 'lists.show.showMenu'}}>
            </span>
          </a>
        </div>
        <h1 class="title-page">
          <span class="title-wrapper">Listado de Ocupaci&oacute;n</span>
          <button class="run-report button-report">Ejecutar</button>
        </h1>

        <h1 class="sub-title-page">
          <ul>
            <li>
              <form class="js-period">Periodo:
                <input id="fromDate" type="date" value="{{currentDate}}"/>
                <input id="toDate" type="date" value="{{currentDate}}"/>
              </form>

            </li>
            <li>
              <form class="js-filters">
                <span class="title-wrapper">Usuario</span>
                <select class="set-holder" id="setHolder" >Usuario
                  {{#each userList}}
                    <option value={{username}} {{selectedHolder2 holderName}}> {{username}}</option>
                  {{/each}}
                  <option value="" {{selectedHolder holderName}}> - </option>
                </select>
                <span class="title-wrapper">Estado</span>
                <select class="set-status" id="setStatus" >
                  <option value=-1 > Todo </option>
                  <option value=0 > Libre </option>
                  <option value=1 > Reservada </option>
                  <option value=2 > Ocupada </option>
                </select>
              </form>
            </li>
            <li>
              <form class="js-filters">
                <span class="title-wrapper">Funcion</span>
                <select class="set-function" id="setFunction" >
                  <option value=0 > Detalle </option>
                  <option value=1 > Sumar </option>
                  <option value=2 > Sumar por Dia</option>
                </select>
              </form>

            </li>

          </ul>
        </h1>


      {{/momentum}}

    </nav>


    <div class="content-scrollable list-items">
      <table>
        {{#each reportList}}
          <tr>
            <td>{{transdate}}</td>
            <td>{{cocheraName}}</td>
            <td>{{holderName}}</td>
          </tr>
        {{/each}}
      </table>
      </div>
  </div>
</template>
