<template name="settings">
  <div class="page disp-show">
    <nav class="js-title-nav">
      {{#momentum plugin="fade"}}
        <div class="nav-group">
          <a href="#" class="js-menu nav-item">
            <span class="icon-list-unordered" title={{_ 'lists.show.showMenu'}}></span>
          </a>
        </div>
        <h1 class="title-page">
          <span class="title-wrapper">Opciones</span>
        </h1>


      {{/momentum}}

    </nav>

    <div class="content-scrollable list-items">
    <ul>
      <li>

        <form class="js-settings">Valor Cochera:
          <input type="text" placeholder='Ingrese un valor' value={{getCocheraValor}} >
        </form>

      </li>
    </ul>
    </div>


  </div>
</template>
