<template name="App_body">
  {{#HammerTouchArea gestureMap=templateGestures}}
    <div id="container" class="{{menuOpen}} {{cordova}}">
      <section id="menu">
        {{#if currentUser}}
          <div class="btns-group-vertical">
            <img src="logo_qbe.jpg" style="width:215px;height:40px;">
            <a href="#" class="js-user-menu btn-secondary">
              {{#if userMenuOpen}}
                <span class="icon-arrow-up"></span>
                {{else}}
                <span class="icon-arrow-down"></span>
              {{/if}}

              {{emailLocalPart}}
            </a>
            {{#if userMenuOpen}}
              <a class="js-logout btn-secondary">{{_ 'Logout'}}</a>
            {{/if}}
          </div>

          <div class="list-todos">
            <a class="js-disponibilidad link-disponibilidad">Disponibilidad</a>
            {{#if superUser}}
              <a class="js-cocheras link-cocheras">Cocheras</a>
              <a class="js-usuarios link-usuarios">Usuarios</a>
              <a class="js-settings link-settings">Opciones</a>
              <a class="js-report-1 link-report-1">Listado de Ocupaci&oacute;on</a>
            {{/if}}

          </div>

        {{else}}
          <div class="btns-group">
            <img src="logo_qbe.jpg" style="width:215px;height:45px; padding-bottom: 5px;" >
            <a href="{{pathFor 'signin'}}" class="btn-secondary">{{_ 'Sign In'}}</a>
            <a href="{{pathFor 'join'}}" class="btn-secondary">{{_ 'Join'}}</a>
          </div>
        {{/if}}

      </section>

      {{#unless connected}}
        <div class="notifications">
          <div class="notification">
            <span class="icon-sync"></span>
            <div class="meta">
              <div class="title-notification">Trying to connect</div>
              <div class="description">There seems to be a connection issue</div>
            </div>
          </div>
        </div>
      {{/unless}}

      <div class="content-overlay"></div>

      <div id="content-container">
        {{#momentum plugin="fade"}}
          {{#if Template.subscriptionsReady}}
            {{> Template.dynamic template=main}}
          {{else}}
            {{> App_loading}}
          {{/if}}
        {{/momentum}}
      </div>
    </div>
  {{/HammerTouchArea}}
</template>
